@model FSD_Blog.Models.RegisterViewModel

@{ 
    ViewBag.Title = "Register";
}

<style>
    h2, h4, .checkbox {
        color: white;
        font-family: 'Roboto Slab', serif;
        text-transform: uppercase;
    }

    .btn-primary {
        margin-bottom: 50px; 
    }

</style>

<header class="intro-header" style="background-image: url('../../img/parallax.jpg')">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label", style = "color: white"})
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Your@email.com" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label", style = "color: white" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Your P@$$W0RD" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label", style = "color: white" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Your P@$$W0RD" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Register" />
            </div>
        </div>
    }
    </header>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
